<div class="row">
  <div class="col-sm-10">
    <%= simple_form_for(@article) do |f| %>

      <%= multilang_wrapper(f, :title) do |form, label|
        form.input :title, label: label
      end %>

      <%= multilang_wrapper(f, :description) do |form, label|
        form.input(:description, label: label)
       end %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
